@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: all 0.2s ease-in-out;

  [data-theme='dark'] {
    /* 使用bs的颜暗黑配色 */
    background-color: #212529;
    color: #fff;

    transition: all 0.2s ease-in-out;
  }
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.fireworks {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  pointer-events: none;
}
