html {
  [data-theme='dark'] {
    // 使用bs的颜暗黑配色
    background-color: #212529;
    color: #fff;

    transition: all 0.2s ease-in-out;
  }
  transition: all 0.2s ease-in-out;
}

.fireworks {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  pointer-events: none;
}
