#article-page {
  // 风格变量
  $ruler: 16px;
  $color-red: #ae1100;
  $color-bg: #ebecf0;
  $color-shadow: #babecc;
  $color-white: #fff;

  $dark-color-bg: #212529;
  $dark-color-white: #fff;

  width: 100%;
  padding-bottom: 100px;
  background: $color-bg;
  transition: background-color 0.2s ease-in-out;

  &[data-theme='dark'] {
    background: $dark-color-bg;
    color: $dark-color-white;
    transition: background-color 0.2s ease-in-out;

    pre {
      background: #1d1c1c;
      color: $dark-color-white;
      transition: background-color 0.2s ease-in-out;
    }
  }

  .markdown-body {
    width: 100%;
    margin: 0 auto;

    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: 40px;
    padding: $ruler;
    background-color: $color-bg;
    text-shadow: 1px 1px 0 $color-white;

    color: #61677c;
    font-weight: bold;
    box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
    transition: background-color 0.2s ease-in-out;
    font-weight: 600;

    &:hover {
      box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
    }

    &[data-theme='dark'] {
      background-color: $dark-color-bg;
      color: $dark-color-white;
      font-weight: normal;
      text-shadow: none;
      transition: background-color 0.2s ease-in-out;
    }
  }

  @media (min-width: 768px) {
    .markdown-body {
      width: calc(40% + 100px);
      margin: 0 auto;
      margin-bottom: 100px;
      padding: 60px;
    }
  }

  /* TOC样式 */
  .toc {
    display: none;
    position: fixed;
    top: 100px;
    right: 0;
    width: 250px;
    margin-top: 1.5em;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;

    /* TOC链接样式 */
    a {
      display: block;
      margin-bottom: 0.5em;
      padding: 5px;
      text-decoration: none;
      color: #333;
      transition: color 0.3s ease-in-out;
    }

    a:hover {
      color: #0070f3;
    }

    /* 列表样式 */
    ol {
      list-style: none;
      padding-left: 15px;
      margin: 0;
    }

    /* 列表项样式 */
    li {
      display: block;
      counter-increment: list-item;
    }
  }

  blockquote {
    p {
      font-weight: lighter;
      font-style: italic;
    }
  }

  // 代码块文件名样式
  .named-fence-block {
    position: relative;

    .named-fence-filename {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 0.5em 1em;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-size: 0.8em;
      font-weight: bold;
      color: #bdbdbd;
    }
  }

  // 自定义块样式
  .tip {
    background-color: #dff0d8;
    padding: 15px;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 15px;
    color: #3c763d;

    p {
      margin-top: 10px;
    }

    &::before {
      content: 'Tips:';
      font-weight: bold;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .warning {
    background-color: #fdf6cd;
    padding: 15px;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 15px;
    color: #8a6d3b;

    p {
      margin-top: 10px;
    }

    &::before {
      content: 'Warning:';
      font-weight: bold;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .danger {
    background-color: #f2dede;
    padding: 15px;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 15px;
    color: #a94442;

    p {
      margin-top: 10px;
    }

    &::before {
      content: 'Danger:';
      font-weight: bold;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  // 卡片样式
  .card {
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: $ruler * 20;
    padding: $ruler;
    background-color: $color-bg;
    text-shadow: 1px 1px 0 $color-white;
  }
}
